<?xml version="1.0" encoding="UTF-8"?>
<symfony name="Motana Multi-Kernel App Console - Symfony" version="{{ kernel_version }}" kernel="{{ kernel_name }}">
  <kernels>
    <kernel>boot</kernel>
    <kernel>app</kernel>
  </kernels>
  <commands>
    <command id="about" name="about">
      <usages>
        <usage>./bin/console about [options]</usage>
        <usage>./bin/console &lt;kernel&gt; about [options]</usage>
      </usages>
      <description>Displays information about the current project</description>
      <help>Displays information about the current project</help>
      <arguments/>
      <options>
        <option name="--help" shortcut="-h" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Display this help message</description>
        </option>
        <option name="--quiet" shortcut="-q" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Do not output any message</description>
        </option>
        <option name="--verbose" shortcut="-v" shortcuts="-v|-vv|-vvv" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Increase the verbosity of messages: 1 for normal output, 2 for more verbose output and 3 for debug</description>
        </option>
        <option name="--version" shortcut="-V" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Display this application version</description>
        </option>
        <option name="--ansi" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Force ANSI output</description>
        </option>
        <option name="--no-ansi" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Disable ANSI output</description>
        </option>
        <option name="--no-interaction" shortcut="-n" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Do not ask any interactive question</description>
        </option>
        <option name="--env" shortcut="-e" accept_value="1" is_value_required="1" is_multiple="0">
          <description>The environment name</description>
          <defaults>
            <default>test</default>
          </defaults>
        </option>
        <option name="--no-debug" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Switches off debug mode</description>
        </option>
      </options>
    </command>
    <command id="help" name="help">
      <usages>
        <usage>./bin/console help [options] [--] [&lt;command_name&gt;]</usage>
        <usage>./bin/console &lt;kernel&gt; help [options] [--] [&lt;command_name&gt;]</usage>
      </usages>
      <description>Displays help for a command</description>
      <help>The &lt;info&gt;help&lt;/info&gt; command displays help for a given command:
 
   &lt;info&gt;./bin/console help list&lt;/info&gt;
 
 You can also output the help in other formats by using the &lt;comment&gt;--format&lt;/comment&gt; option:
 
   &lt;info&gt;./bin/console help --format=xml list&lt;/info&gt;
 
 To display the list of available commands, please use the &lt;info&gt;list&lt;/info&gt; command.</help>
      <arguments>
        <argument name="command_name" is_required="0" is_array="0">
          <description>The command name</description>
          <defaults>
            <default>help</default>
          </defaults>
        </argument>
      </arguments>
      <options>
        <option name="--format" shortcut="" accept_value="1" is_value_required="1" is_multiple="0">
          <description>The output format (txt, xml, json, or md)</description>
          <defaults>
            <default>txt</default>
          </defaults>
        </option>
        <option name="--raw" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>To output raw command help</description>
        </option>
        <option name="--help" shortcut="-h" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Display this help message</description>
        </option>
        <option name="--quiet" shortcut="-q" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Do not output any message</description>
        </option>
        <option name="--verbose" shortcut="-v" shortcuts="-v|-vv|-vvv" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Increase the verbosity of messages: 1 for normal output, 2 for more verbose output and 3 for debug</description>
        </option>
        <option name="--version" shortcut="-V" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Display this application version</description>
        </option>
        <option name="--ansi" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Force ANSI output</description>
        </option>
        <option name="--no-ansi" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Disable ANSI output</description>
        </option>
        <option name="--no-interaction" shortcut="-n" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Do not ask any interactive question</description>
        </option>
        <option name="--env" shortcut="-e" accept_value="1" is_value_required="1" is_multiple="0">
          <description>The environment name</description>
          <defaults>
            <default>test</default>
          </defaults>
        </option>
        <option name="--no-debug" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Switches off debug mode</description>
        </option>
      </options>
    </command>
    <command id="list" name="list">
      <usages>
        <usage>./bin/console list [options] [--] [&lt;namespace&gt;]</usage>
        <usage>./bin/console &lt;kernel&gt; list [options] [--] [&lt;namespace&gt;]</usage>
      </usages>
      <description>Lists commands</description>
      <help>The &lt;info&gt;list&lt;/info&gt; command lists all commands:
 
   &lt;info&gt;./bin/console list&lt;/info&gt;
 
 You can also display the commands for a specific namespace:
 
   &lt;info&gt;./bin/console list test&lt;/info&gt;
 
 You can also output the information in other formats by using the &lt;comment&gt;--format&lt;/comment&gt; option:
 
   &lt;info&gt;./bin/console list --format=xml&lt;/info&gt;
 
 It's also possible to get raw list of commands (useful for embedding command runner):
 
   &lt;info&gt;./bin/console list --raw&lt;/info&gt;</help>
      <arguments>
        <argument name="namespace" is_required="0" is_array="0">
          <description>The namespace name</description>
          <defaults/>
        </argument>
      </arguments>
      <options>
        <option name="--raw" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>To output raw command list</description>
        </option>
        <option name="--format" shortcut="" accept_value="1" is_value_required="1" is_multiple="0">
          <description>The output format (txt, xml, json, or md)</description>
          <defaults>
            <default>txt</default>
          </defaults>
        </option>
        <option name="--help" shortcut="-h" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Display this help message</description>
        </option>
        <option name="--quiet" shortcut="-q" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Do not output any message</description>
        </option>
        <option name="--verbose" shortcut="-v" shortcuts="-v|-vv|-vvv" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Increase the verbosity of messages: 1 for normal output, 2 for more verbose output and 3 for debug</description>
        </option>
        <option name="--version" shortcut="-V" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Display this application version</description>
        </option>
        <option name="--ansi" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Force ANSI output</description>
        </option>
        <option name="--no-ansi" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Disable ANSI output</description>
        </option>
        <option name="--no-interaction" shortcut="-n" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Do not ask any interactive question</description>
        </option>
        <option name="--env" shortcut="-e" accept_value="1" is_value_required="1" is_multiple="0">
          <description>The environment name</description>
          <defaults>
            <default>test</default>
          </defaults>
        </option>
        <option name="--no-debug" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Switches off debug mode</description>
        </option>
      </options>
    </command>
    <command id="assets:install" name="assets:install">
      <usages>
        <usage>./bin/console assets:install [options] [--] [&lt;target&gt;]</usage>
        <usage>./bin/console &lt;kernel&gt; assets:install [options] [--] [&lt;target&gt;]</usage>
      </usages>
      <description>Installs bundles web assets under a public directory</description>
      <help>The &lt;info&gt;assets:install&lt;/info&gt; command installs bundle assets into a given
 directory (e.g. the &lt;comment&gt;public&lt;/comment&gt; directory).
 
   &lt;info&gt;./bin/console assets:install public&lt;/info&gt;
 
 A "bundles" directory will be created inside the target directory and the
 "Resources/public" directory of each bundle will be copied into it.
 
 To create a symlink to each bundle instead of copying its assets, use the
 &lt;info&gt;--symlink&lt;/info&gt; option (will fall back to hard copies when symbolic links aren't possible:
 
   &lt;info&gt;./bin/console assets:install public --symlink&lt;/info&gt;
 
 To make symlink relative, add the &lt;info&gt;--relative&lt;/info&gt; option:
 
   &lt;info&gt;./bin/console assets:install public --symlink --relative&lt;/info&gt;</help>
      <arguments>
        <argument name="target" is_required="0" is_array="0">
          <description>The target directory</description>
          <defaults>
            <default>public</default>
          </defaults>
        </argument>
      </arguments>
      <options>
        <option name="--symlink" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Symlinks the assets instead of copying it</description>
        </option>
        <option name="--relative" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Make relative symlinks</description>
        </option>
        <option name="--help" shortcut="-h" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Display this help message</description>
        </option>
        <option name="--quiet" shortcut="-q" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Do not output any message</description>
        </option>
        <option name="--verbose" shortcut="-v" shortcuts="-v|-vv|-vvv" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Increase the verbosity of messages: 1 for normal output, 2 for more verbose output and 3 for debug</description>
        </option>
        <option name="--version" shortcut="-V" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Display this application version</description>
        </option>
        <option name="--ansi" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Force ANSI output</description>
        </option>
        <option name="--no-ansi" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Disable ANSI output</description>
        </option>
        <option name="--no-interaction" shortcut="-n" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Do not ask any interactive question</description>
        </option>
        <option name="--env" shortcut="-e" accept_value="1" is_value_required="1" is_multiple="0">
          <description>The environment name</description>
          <defaults>
            <default>test</default>
          </defaults>
        </option>
        <option name="--no-debug" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Switches off debug mode</description>
        </option>
      </options>
    </command>
    <command id="cache:clear" name="cache:clear">
      <usages>
        <usage>./bin/console cache:clear [options]</usage>
        <usage>./bin/console &lt;kernel&gt; cache:clear [options]</usage>
      </usages>
      <description>Clears the cache</description>
      <help>The &lt;info&gt;cache:clear&lt;/info&gt; command clears the application cache for a given environment
 and debug mode:
 
   &lt;info&gt;./bin/console cache:clear --env=dev&lt;/info&gt;
   &lt;info&gt;./bin/console cache:clear --env=prod --no-debug&lt;/info&gt;</help>
      <arguments/>
      <options>
        <option name="--no-warmup" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Do not warm up the cache</description>
        </option>
        <option name="--no-optional-warmers" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Skip optional cache warmers (faster)</description>
        </option>
        <option name="--help" shortcut="-h" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Display this help message</description>
        </option>
        <option name="--quiet" shortcut="-q" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Do not output any message</description>
        </option>
        <option name="--verbose" shortcut="-v" shortcuts="-v|-vv|-vvv" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Increase the verbosity of messages: 1 for normal output, 2 for more verbose output and 3 for debug</description>
        </option>
        <option name="--version" shortcut="-V" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Display this application version</description>
        </option>
        <option name="--ansi" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Force ANSI output</description>
        </option>
        <option name="--no-ansi" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Disable ANSI output</description>
        </option>
        <option name="--no-interaction" shortcut="-n" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Do not ask any interactive question</description>
        </option>
        <option name="--env" shortcut="-e" accept_value="1" is_value_required="1" is_multiple="0">
          <description>The environment name</description>
          <defaults>
            <default>test</default>
          </defaults>
        </option>
        <option name="--no-debug" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Switches off debug mode</description>
        </option>
      </options>
    </command>
    <command id="cache:pool:clear" name="cache:pool:clear">
      <usages>
        <usage>./bin/console cache:pool:clear [options] [--] &lt;pools&gt; (&lt;pools&gt;)...</usage>
        <usage>./bin/console &lt;kernel&gt; cache:pool:clear [options] [--] &lt;pools&gt; (&lt;pools&gt;)...</usage>
      </usages>
      <description>Clears cache pools</description>
      <help>The &lt;info&gt;cache:pool:clear&lt;/info&gt; command clears the given cache pools or cache pool clearers.
 
     bin/console cache:pool:clear &lt;cache pool or clearer 1&gt; [...&lt;cache pool or clearer N&gt;]</help>
      <arguments>
        <argument name="pools" is_required="1" is_array="1">
          <description>A list of cache pools or cache pool clearers</description>
          <defaults/>
        </argument>
      </arguments>
      <options>
        <option name="--help" shortcut="-h" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Display this help message</description>
        </option>
        <option name="--quiet" shortcut="-q" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Do not output any message</description>
        </option>
        <option name="--verbose" shortcut="-v" shortcuts="-v|-vv|-vvv" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Increase the verbosity of messages: 1 for normal output, 2 for more verbose output and 3 for debug</description>
        </option>
        <option name="--version" shortcut="-V" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Display this application version</description>
        </option>
        <option name="--ansi" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Force ANSI output</description>
        </option>
        <option name="--no-ansi" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Disable ANSI output</description>
        </option>
        <option name="--no-interaction" shortcut="-n" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Do not ask any interactive question</description>
        </option>
        <option name="--env" shortcut="-e" accept_value="1" is_value_required="1" is_multiple="0">
          <description>The environment name</description>
          <defaults>
            <default>test</default>
          </defaults>
        </option>
        <option name="--no-debug" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Switches off debug mode</description>
        </option>
      </options>
    </command>
    <command id="cache:warmup" name="cache:warmup">
      <usages>
        <usage>./bin/console cache:warmup [options]</usage>
        <usage>./bin/console &lt;kernel&gt; cache:warmup [options]</usage>
      </usages>
      <description>Warms up an empty cache</description>
      <help>The &lt;info&gt;cache:warmup&lt;/info&gt; command warms up the cache.
 
 Before running this command, the cache must be empty.
 
 This command does not generate the classes cache (as when executing this
 command, too many classes that should be part of the cache are already loaded
 in memory). Use &lt;comment&gt;curl&lt;/comment&gt; or any other similar tool to warm up
 the classes cache if you want.</help>
      <arguments/>
      <options>
        <option name="--no-optional-warmers" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Skip optional cache warmers (faster)</description>
        </option>
        <option name="--help" shortcut="-h" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Display this help message</description>
        </option>
        <option name="--quiet" shortcut="-q" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Do not output any message</description>
        </option>
        <option name="--verbose" shortcut="-v" shortcuts="-v|-vv|-vvv" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Increase the verbosity of messages: 1 for normal output, 2 for more verbose output and 3 for debug</description>
        </option>
        <option name="--version" shortcut="-V" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Display this application version</description>
        </option>
        <option name="--ansi" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Force ANSI output</description>
        </option>
        <option name="--no-ansi" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Disable ANSI output</description>
        </option>
        <option name="--no-interaction" shortcut="-n" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Do not ask any interactive question</description>
        </option>
        <option name="--env" shortcut="-e" accept_value="1" is_value_required="1" is_multiple="0">
          <description>The environment name</description>
          <defaults>
            <default>test</default>
          </defaults>
        </option>
        <option name="--no-debug" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Switches off debug mode</description>
        </option>
      </options>
    </command>
    <command id="config:dump-reference" name="config:dump-reference">
      <usages>
        <usage>./bin/console config:dump-reference [options] [--] [&lt;name&gt;] [&lt;path&gt;]</usage>
        <usage>./bin/console &lt;kernel&gt; config:dump-reference [options] [--] [&lt;name&gt;] [&lt;path&gt;]</usage>
      </usages>
      <description>Dumps the default configuration for an extension</description>
      <help>The &lt;info&gt;config:dump-reference&lt;/info&gt; command dumps the default configuration for an
 extension/bundle.
 
 Either the extension alias or bundle name can be used:
 
   &lt;info&gt;./bin/console config:dump-reference framework&lt;/info&gt;
   &lt;info&gt;./bin/console config:dump-reference FrameworkBundle&lt;/info&gt;
 
 With the &lt;info&gt;--format&lt;/info&gt; option specifies the format of the configuration,
 this is either &lt;comment&gt;yaml&lt;/comment&gt; or &lt;comment&gt;xml&lt;/comment&gt;.
 When the option is not provided, &lt;comment&gt;yaml&lt;/comment&gt; is used.
 
   &lt;info&gt;./bin/console config:dump-reference FrameworkBundle --format=xml&lt;/info&gt;
 
 For dumping a specific option, add its path as second argument (only available for the yaml format):
 
   &lt;info&gt;./bin/console config:dump-reference framework profiler.matcher&lt;/info&gt;</help>
      <arguments>
        <argument name="name" is_required="0" is_array="0">
          <description>The Bundle name or the extension alias</description>
          <defaults/>
        </argument>
        <argument name="path" is_required="0" is_array="0">
          <description>The configuration option path</description>
          <defaults/>
        </argument>
      </arguments>
      <options>
        <option name="--format" shortcut="" accept_value="1" is_value_required="1" is_multiple="0">
          <description>The output format (yaml or xml)</description>
          <defaults>
            <default>yaml</default>
          </defaults>
        </option>
        <option name="--help" shortcut="-h" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Display this help message</description>
        </option>
        <option name="--quiet" shortcut="-q" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Do not output any message</description>
        </option>
        <option name="--verbose" shortcut="-v" shortcuts="-v|-vv|-vvv" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Increase the verbosity of messages: 1 for normal output, 2 for more verbose output and 3 for debug</description>
        </option>
        <option name="--version" shortcut="-V" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Display this application version</description>
        </option>
        <option name="--ansi" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Force ANSI output</description>
        </option>
        <option name="--no-ansi" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Disable ANSI output</description>
        </option>
        <option name="--no-interaction" shortcut="-n" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Do not ask any interactive question</description>
        </option>
        <option name="--env" shortcut="-e" accept_value="1" is_value_required="1" is_multiple="0">
          <description>The environment name</description>
          <defaults>
            <default>test</default>
          </defaults>
        </option>
        <option name="--no-debug" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Switches off debug mode</description>
        </option>
      </options>
    </command>
    <command id="debug:config" name="debug:config">
      <usages>
        <usage>./bin/console debug:config [options] [--] [&lt;name&gt;] [&lt;path&gt;]</usage>
        <usage>./bin/console &lt;kernel&gt; debug:config [options] [--] [&lt;name&gt;] [&lt;path&gt;]</usage>
      </usages>
      <description>Dumps the current configuration for an extension</description>
      <help>The &lt;info&gt;debug:config&lt;/info&gt; command dumps the current configuration for an
 extension/bundle.
 
 Either the extension alias or bundle name can be used:
 
   &lt;info&gt;./bin/console debug:config framework&lt;/info&gt;
   &lt;info&gt;./bin/console debug:config FrameworkBundle&lt;/info&gt;
 
 For dumping a specific option, add its path as second argument:
 
   &lt;info&gt;./bin/console debug:config framework serializer.enabled&lt;/info&gt;</help>
      <arguments>
        <argument name="name" is_required="0" is_array="0">
          <description>The bundle name or the extension alias</description>
          <defaults/>
        </argument>
        <argument name="path" is_required="0" is_array="0">
          <description>The configuration option path</description>
          <defaults/>
        </argument>
      </arguments>
      <options>
        <option name="--help" shortcut="-h" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Display this help message</description>
        </option>
        <option name="--quiet" shortcut="-q" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Do not output any message</description>
        </option>
        <option name="--verbose" shortcut="-v" shortcuts="-v|-vv|-vvv" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Increase the verbosity of messages: 1 for normal output, 2 for more verbose output and 3 for debug</description>
        </option>
        <option name="--version" shortcut="-V" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Display this application version</description>
        </option>
        <option name="--ansi" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Force ANSI output</description>
        </option>
        <option name="--no-ansi" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Disable ANSI output</description>
        </option>
        <option name="--no-interaction" shortcut="-n" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Do not ask any interactive question</description>
        </option>
        <option name="--env" shortcut="-e" accept_value="1" is_value_required="1" is_multiple="0">
          <description>The environment name</description>
          <defaults>
            <default>test</default>
          </defaults>
        </option>
        <option name="--no-debug" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Switches off debug mode</description>
        </option>
      </options>
    </command>
    <command id="debug:container" name="debug:container">
      <usages>
        <usage>./bin/console debug:container [options] [--] [&lt;name&gt;]</usage>
        <usage>./bin/console &lt;kernel&gt; debug:container [options] [--] [&lt;name&gt;]</usage>
      </usages>
      <description>Displays current services for an application</description>
      <help>The &lt;info&gt;debug:container&lt;/info&gt; command displays all configured &lt;comment&gt;public&lt;/comment&gt; services:
 
   &lt;info&gt;./bin/console debug:container&lt;/info&gt;
 
 To get specific information about a service, specify its name:
 
   &lt;info&gt;./bin/console debug:container validator&lt;/info&gt;
 
 To see available types that can be used for autowiring, use the &lt;info&gt;--types&lt;/info&gt; flag:
 
   &lt;info&gt;./bin/console debug:container --types&lt;/info&gt;
 
 By default, private services are hidden. You can display all services by
 using the &lt;info&gt;--show-private&lt;/info&gt; flag:
 
   &lt;info&gt;./bin/console debug:container --show-private&lt;/info&gt;
 
 Use the --tags option to display tagged &lt;comment&gt;public&lt;/comment&gt; services grouped by tag:
 
   &lt;info&gt;./bin/console debug:container --tags&lt;/info&gt;
 
 Find all services with a specific tag by specifying the tag name with the &lt;info&gt;--tag&lt;/info&gt; option:
 
   &lt;info&gt;./bin/console debug:container --tag=form.type&lt;/info&gt;
 
 Use the &lt;info&gt;--parameters&lt;/info&gt; option to display all parameters:
 
   &lt;info&gt;./bin/console debug:container --parameters&lt;/info&gt;
 
 Display a specific parameter by specifying its name with the &lt;info&gt;--parameter&lt;/info&gt; option:
 
   &lt;info&gt;./bin/console debug:container --parameter=kernel.debug&lt;/info&gt;</help>
      <arguments>
        <argument name="name" is_required="0" is_array="0">
          <description>A service name (foo)</description>
          <defaults/>
        </argument>
      </arguments>
      <options>
        <option name="--show-private" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Used to show public *and* private services</description>
        </option>
        <option name="--show-arguments" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Used to show arguments in services</description>
        </option>
        <option name="--tag" shortcut="" accept_value="1" is_value_required="1" is_multiple="0">
          <description>Shows all services with a specific tag</description>
          <defaults/>
        </option>
        <option name="--tags" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Displays tagged services for an application</description>
        </option>
        <option name="--parameter" shortcut="" accept_value="1" is_value_required="1" is_multiple="0">
          <description>Displays a specific parameter for an application</description>
          <defaults/>
        </option>
        <option name="--parameters" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Displays parameters for an application</description>
        </option>
        <option name="--types" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Displays types (classes/interfaces) available in the container</description>
        </option>
        <option name="--format" shortcut="" accept_value="1" is_value_required="1" is_multiple="0">
          <description>The output format (txt, xml, json, or md)</description>
          <defaults>
            <default>txt</default>
          </defaults>
        </option>
        <option name="--raw" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>To output raw description</description>
        </option>
        <option name="--help" shortcut="-h" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Display this help message</description>
        </option>
        <option name="--quiet" shortcut="-q" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Do not output any message</description>
        </option>
        <option name="--verbose" shortcut="-v" shortcuts="-v|-vv|-vvv" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Increase the verbosity of messages: 1 for normal output, 2 for more verbose output and 3 for debug</description>
        </option>
        <option name="--version" shortcut="-V" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Display this application version</description>
        </option>
        <option name="--ansi" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Force ANSI output</description>
        </option>
        <option name="--no-ansi" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Disable ANSI output</description>
        </option>
        <option name="--no-interaction" shortcut="-n" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Do not ask any interactive question</description>
        </option>
        <option name="--env" shortcut="-e" accept_value="1" is_value_required="1" is_multiple="0">
          <description>The environment name</description>
          <defaults>
            <default>test</default>
          </defaults>
        </option>
        <option name="--no-debug" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Switches off debug mode</description>
        </option>
      </options>
    </command>
    <command id="debug:event-dispatcher" name="debug:event-dispatcher">
      <usages>
        <usage>./bin/console debug:event-dispatcher [options] [--] [&lt;event&gt;]</usage>
        <usage>./bin/console &lt;kernel&gt; debug:event-dispatcher [options] [--] [&lt;event&gt;]</usage>
      </usages>
      <description>Displays configured listeners for an application</description>
      <help>The &lt;info&gt;debug:event-dispatcher&lt;/info&gt; command displays all configured listeners:
 
   &lt;info&gt;./bin/console debug:event-dispatcher&lt;/info&gt;
 
 To get specific listeners for an event, specify its name:
 
   &lt;info&gt;./bin/console debug:event-dispatcher kernel.request&lt;/info&gt;</help>
      <arguments>
        <argument name="event" is_required="0" is_array="0">
          <description>An event name</description>
          <defaults/>
        </argument>
      </arguments>
      <options>
        <option name="--format" shortcut="" accept_value="1" is_value_required="1" is_multiple="0">
          <description>The output format  (txt, xml, json, or md)</description>
          <defaults>
            <default>txt</default>
          </defaults>
        </option>
        <option name="--raw" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>To output raw description</description>
        </option>
        <option name="--help" shortcut="-h" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Display this help message</description>
        </option>
        <option name="--quiet" shortcut="-q" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Do not output any message</description>
        </option>
        <option name="--verbose" shortcut="-v" shortcuts="-v|-vv|-vvv" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Increase the verbosity of messages: 1 for normal output, 2 for more verbose output and 3 for debug</description>
        </option>
        <option name="--version" shortcut="-V" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Display this application version</description>
        </option>
        <option name="--ansi" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Force ANSI output</description>
        </option>
        <option name="--no-ansi" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Disable ANSI output</description>
        </option>
        <option name="--no-interaction" shortcut="-n" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Do not ask any interactive question</description>
        </option>
        <option name="--env" shortcut="-e" accept_value="1" is_value_required="1" is_multiple="0">
          <description>The environment name</description>
          <defaults>
            <default>test</default>
          </defaults>
        </option>
        <option name="--no-debug" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Switches off debug mode</description>
        </option>
      </options>
    </command>
    <command id="debug:router" name="debug:router">
      <usages>
        <usage>./bin/console debug:router [options] [--] [&lt;name&gt;]</usage>
        <usage>./bin/console &lt;kernel&gt; debug:router [options] [--] [&lt;name&gt;]</usage>
      </usages>
      <description>Displays current routes for an application</description>
      <help>The &lt;info&gt;debug:router&lt;/info&gt; displays the configured routes:
 
   &lt;info&gt;./bin/console debug:router&lt;/info&gt;</help>
      <arguments>
        <argument name="name" is_required="0" is_array="0">
          <description>A route name</description>
          <defaults/>
        </argument>
      </arguments>
      <options>
        <option name="--show-controllers" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Show assigned controllers in overview</description>
        </option>
        <option name="--format" shortcut="" accept_value="1" is_value_required="1" is_multiple="0">
          <description>The output format (txt, xml, json, or md)</description>
          <defaults>
            <default>txt</default>
          </defaults>
        </option>
        <option name="--raw" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>To output raw route(s)</description>
        </option>
        <option name="--help" shortcut="-h" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Display this help message</description>
        </option>
        <option name="--quiet" shortcut="-q" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Do not output any message</description>
        </option>
        <option name="--verbose" shortcut="-v" shortcuts="-v|-vv|-vvv" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Increase the verbosity of messages: 1 for normal output, 2 for more verbose output and 3 for debug</description>
        </option>
        <option name="--version" shortcut="-V" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Display this application version</description>
        </option>
        <option name="--ansi" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Force ANSI output</description>
        </option>
        <option name="--no-ansi" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Disable ANSI output</description>
        </option>
        <option name="--no-interaction" shortcut="-n" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Do not ask any interactive question</description>
        </option>
        <option name="--env" shortcut="-e" accept_value="1" is_value_required="1" is_multiple="0">
          <description>The environment name</description>
          <defaults>
            <default>test</default>
          </defaults>
        </option>
        <option name="--no-debug" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Switches off debug mode</description>
        </option>
      </options>
    </command>
    <command id="debug:translation" name="debug:translation">
      <usages>
        <usage>./bin/console debug:translation [options] [--] &lt;locale&gt; [&lt;bundle&gt;]</usage>
        <usage>./bin/console &lt;kernel&gt; debug:translation [options] [--] &lt;locale&gt; [&lt;bundle&gt;]</usage>
      </usages>
      <description>Displays translation messages information</description>
      <help>The &lt;info&gt;debug:translation&lt;/info&gt; command helps finding unused or missing translation
 messages and comparing them with the fallback ones by inspecting the
 templates and translation files of a given bundle or the app folder.
 
 You can display information about bundle translations in a specific locale:
 
   &lt;info&gt;./bin/console debug:translation en AcmeDemoBundle&lt;/info&gt;
 
 You can also specify a translation domain for the search:
 
   &lt;info&gt;./bin/console debug:translation --domain=messages en AcmeDemoBundle&lt;/info&gt;
 
 You can only display missing messages:
 
   &lt;info&gt;./bin/console debug:translation --only-missing en AcmeDemoBundle&lt;/info&gt;
 
 You can only display unused messages:
 
   &lt;info&gt;./bin/console debug:translation --only-unused en AcmeDemoBundle&lt;/info&gt;
 
 You can display information about app translations in a specific locale:
 
   &lt;info&gt;./bin/console debug:translation en&lt;/info&gt;
 
 You can display information about translations in all registered bundles in a specific locale:
 
   &lt;info&gt;./bin/console debug:translation --all en&lt;/info&gt;</help>
      <arguments>
        <argument name="locale" is_required="1" is_array="0">
          <description>The locale</description>
          <defaults/>
        </argument>
        <argument name="bundle" is_required="0" is_array="0">
          <description>The bundle name or directory where to load the messages, defaults to app/Resources folder</description>
          <defaults/>
        </argument>
      </arguments>
      <options>
        <option name="--domain" shortcut="" accept_value="1" is_value_required="0" is_multiple="0">
          <description>The messages domain</description>
          <defaults/>
        </option>
        <option name="--only-missing" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Displays only missing messages</description>
        </option>
        <option name="--only-unused" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Displays only unused messages</description>
        </option>
        <option name="--all" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Load messages from all registered bundles</description>
        </option>
        <option name="--help" shortcut="-h" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Display this help message</description>
        </option>
        <option name="--quiet" shortcut="-q" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Do not output any message</description>
        </option>
        <option name="--verbose" shortcut="-v" shortcuts="-v|-vv|-vvv" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Increase the verbosity of messages: 1 for normal output, 2 for more verbose output and 3 for debug</description>
        </option>
        <option name="--version" shortcut="-V" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Display this application version</description>
        </option>
        <option name="--ansi" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Force ANSI output</description>
        </option>
        <option name="--no-ansi" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Disable ANSI output</description>
        </option>
        <option name="--no-interaction" shortcut="-n" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Do not ask any interactive question</description>
        </option>
        <option name="--env" shortcut="-e" accept_value="1" is_value_required="1" is_multiple="0">
          <description>The environment name</description>
          <defaults>
            <default>test</default>
          </defaults>
        </option>
        <option name="--no-debug" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Switches off debug mode</description>
        </option>
      </options>
    </command>
    <command id="debug:twig" name="debug:twig">
      <usages>
        <usage>./bin/console debug:twig [options] [--] [&lt;filter&gt;]</usage>
        <usage>./bin/console &lt;kernel&gt; debug:twig [options] [--] [&lt;filter&gt;]</usage>
      </usages>
      <description>Shows a list of twig functions, filters, globals and tests</description>
      <help>The &lt;info&gt;debug:twig&lt;/info&gt; command outputs a list of twig functions,
 filters, globals and tests. Output can be filtered with an optional argument.
 
   &lt;info&gt;./bin/console debug:twig&lt;/info&gt;
 
 The command lists all functions, filters, etc.
 
   &lt;info&gt;./bin/console debug:twig date&lt;/info&gt;
 
 The command lists everything that contains the word date.
 
   &lt;info&gt;./bin/console debug:twig --format=json&lt;/info&gt;
 
 The command lists everything in a machine readable json format.</help>
      <arguments>
        <argument name="filter" is_required="0" is_array="0">
          <description>Show details for all entries matching this filter</description>
          <defaults/>
        </argument>
      </arguments>
      <options>
        <option name="--format" shortcut="" accept_value="1" is_value_required="1" is_multiple="0">
          <description>The output format (text or json)</description>
          <defaults>
            <default>text</default>
          </defaults>
        </option>
        <option name="--help" shortcut="-h" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Display this help message</description>
        </option>
        <option name="--quiet" shortcut="-q" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Do not output any message</description>
        </option>
        <option name="--verbose" shortcut="-v" shortcuts="-v|-vv|-vvv" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Increase the verbosity of messages: 1 for normal output, 2 for more verbose output and 3 for debug</description>
        </option>
        <option name="--version" shortcut="-V" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Display this application version</description>
        </option>
        <option name="--ansi" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Force ANSI output</description>
        </option>
        <option name="--no-ansi" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Disable ANSI output</description>
        </option>
        <option name="--no-interaction" shortcut="-n" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Do not ask any interactive question</description>
        </option>
        <option name="--env" shortcut="-e" accept_value="1" is_value_required="1" is_multiple="0">
          <description>The environment name</description>
          <defaults>
            <default>test</default>
          </defaults>
        </option>
        <option name="--no-debug" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Switches off debug mode</description>
        </option>
      </options>
    </command>
    <command id="generate:app" name="generate:app">
      <usages>
        <usage>./bin/console generate:app [options]</usage>
        <usage>./bin/console &lt;kernel&gt; generate:app [options]</usage>
      </usages>
      <description>Generates an app</description>
      <help>The &lt;info&gt;generate:app&lt;/info&gt; command helps you generates new apps.
 
 By default, the command interacts with the developer to tweak the generation.
 Any passed option will be used as a default value for the interaction
 (&lt;comment&gt;--kernel&lt;/comment&gt; is the only one needed if you follow the
 conventions):
 
 &lt;info&gt;./bin/console generate:app --kernel=app&lt;/info&gt;
 
 If you want to disable any user interaction, use &lt;comment&gt;--no-interaction&lt;/comment&gt; but don't forget to pass all needed options:
 
 &lt;info&gt;./bin/console generate:app --kernel=foo --dir=src [--no-bundle] --no-interaction&lt;/info&gt;
 
 The names of the generated kernel, cache and bundle class names are generated from the camelized kernel name.</help>
      <arguments/>
      <options>
        <option name="--kernel" shortcut="" accept_value="1" is_value_required="1" is_multiple="0">
          <description>App kernel name</description>
          <defaults/>
        </option>
        <option name="--dir" shortcut="" accept_value="1" is_value_required="1" is_multiple="0">
          <description>The directory where to create the bundle</description>
          <defaults>
            <default>src/</default>
          </defaults>
        </option>
        <option name="--format" shortcut="" accept_value="1" is_value_required="1" is_multiple="0">
          <description>Use the format for bundle configuration files (php, xml, yml, or annotation)</description>
          <defaults/>
        </option>
        <option name="--micro" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Generate a microkernel app</description>
        </option>
        <option name="--no-bundle" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Skip generating a bundle for the app</description>
        </option>
        <option name="--help" shortcut="-h" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Display this help message</description>
        </option>
        <option name="--quiet" shortcut="-q" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Do not output any message</description>
        </option>
        <option name="--verbose" shortcut="-v" shortcuts="-v|-vv|-vvv" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Increase the verbosity of messages: 1 for normal output, 2 for more verbose output and 3 for debug</description>
        </option>
        <option name="--version" shortcut="-V" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Display this application version</description>
        </option>
        <option name="--ansi" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Force ANSI output</description>
        </option>
        <option name="--no-ansi" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Disable ANSI output</description>
        </option>
        <option name="--no-interaction" shortcut="-n" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Do not ask any interactive question</description>
        </option>
        <option name="--env" shortcut="-e" accept_value="1" is_value_required="1" is_multiple="0">
          <description>The environment name</description>
          <defaults>
            <default>test</default>
          </defaults>
        </option>
        <option name="--no-debug" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Switches off debug mode</description>
        </option>
      </options>
    </command>
    <command id="lint:twig" name="lint:twig">
      <usages>
        <usage>./bin/console lint:twig [options] [--] [&lt;filename&gt;]...</usage>
        <usage>./bin/console &lt;kernel&gt; lint:twig [options] [--] [&lt;filename&gt;]...</usage>
      </usages>
      <description>Lints a template and outputs encountered errors</description>
      <help>The &lt;info&gt;lint:twig&lt;/info&gt; command lints a template and outputs to STDOUT
 the first encountered syntax error.
 
 You can validate the syntax of contents passed from STDIN:
 
   &lt;info&gt;cat filename | ./bin/console lint:twig&lt;/info&gt;
 
 Or the syntax of a file:
 
   &lt;info&gt;./bin/console lint:twig filename&lt;/info&gt;
 
 Or of a whole directory:
 
   &lt;info&gt;./bin/console lint:twig dirname&lt;/info&gt;
   &lt;info&gt;./bin/console lint:twig dirname --format=json&lt;/info&gt;
 
 Or all template files in a bundle:
 
   &lt;info&gt;./bin/console lint:twig @AcmeDemoBundle&lt;/info&gt;</help>
      <arguments>
        <argument name="filename" is_required="0" is_array="1">
          <description></description>
          <defaults/>
        </argument>
      </arguments>
      <options>
        <option name="--format" shortcut="" accept_value="1" is_value_required="1" is_multiple="0">
          <description>The output format</description>
          <defaults>
            <default>txt</default>
          </defaults>
        </option>
        <option name="--help" shortcut="-h" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Display this help message</description>
        </option>
        <option name="--quiet" shortcut="-q" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Do not output any message</description>
        </option>
        <option name="--verbose" shortcut="-v" shortcuts="-v|-vv|-vvv" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Increase the verbosity of messages: 1 for normal output, 2 for more verbose output and 3 for debug</description>
        </option>
        <option name="--version" shortcut="-V" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Display this application version</description>
        </option>
        <option name="--ansi" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Force ANSI output</description>
        </option>
        <option name="--no-ansi" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Disable ANSI output</description>
        </option>
        <option name="--no-interaction" shortcut="-n" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Do not ask any interactive question</description>
        </option>
        <option name="--env" shortcut="-e" accept_value="1" is_value_required="1" is_multiple="0">
          <description>The environment name</description>
          <defaults>
            <default>test</default>
          </defaults>
        </option>
        <option name="--no-debug" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Switches off debug mode</description>
        </option>
      </options>
    </command>
    <command id="lint:xliff" name="lint:xliff">
      <usages>
        <usage>./bin/console lint:xliff [options] [--] [&lt;filename&gt;]</usage>
        <usage>./bin/console &lt;kernel&gt; lint:xliff [options] [--] [&lt;filename&gt;]</usage>
      </usages>
      <description>Lints a XLIFF file and outputs encountered errors</description>
      <help>The &lt;info&gt;lint:xliff&lt;/info&gt; command lints a XLIFF file and outputs to STDOUT
 the first encountered syntax error.
 
 You can validates XLIFF contents passed from STDIN:
 
   &lt;info&gt;cat filename | ./bin/console lint:xliff&lt;/info&gt;
 
 You can also validate the syntax of a file:
 
   &lt;info&gt;./bin/console lint:xliff filename&lt;/info&gt;
 
 Or of a whole directory:
 
   &lt;info&gt;./bin/console lint:xliff dirname&lt;/info&gt;
   &lt;info&gt;./bin/console lint:xliff dirname --format=json&lt;/info&gt;
 
 Or find all files in a bundle:
 
   &lt;info&gt;./bin/console lint:xliff @AcmeDemoBundle&lt;/info&gt;</help>
      <arguments>
        <argument name="filename" is_required="0" is_array="0">
          <description>A file or a directory or STDIN</description>
          <defaults/>
        </argument>
      </arguments>
      <options>
        <option name="--format" shortcut="" accept_value="1" is_value_required="1" is_multiple="0">
          <description>The output format</description>
          <defaults>
            <default>txt</default>
          </defaults>
        </option>
        <option name="--help" shortcut="-h" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Display this help message</description>
        </option>
        <option name="--quiet" shortcut="-q" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Do not output any message</description>
        </option>
        <option name="--verbose" shortcut="-v" shortcuts="-v|-vv|-vvv" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Increase the verbosity of messages: 1 for normal output, 2 for more verbose output and 3 for debug</description>
        </option>
        <option name="--version" shortcut="-V" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Display this application version</description>
        </option>
        <option name="--ansi" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Force ANSI output</description>
        </option>
        <option name="--no-ansi" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Disable ANSI output</description>
        </option>
        <option name="--no-interaction" shortcut="-n" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Do not ask any interactive question</description>
        </option>
        <option name="--env" shortcut="-e" accept_value="1" is_value_required="1" is_multiple="0">
          <description>The environment name</description>
          <defaults>
            <default>test</default>
          </defaults>
        </option>
        <option name="--no-debug" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Switches off debug mode</description>
        </option>
      </options>
    </command>
    <command id="lint:yaml" name="lint:yaml">
      <usages>
        <usage>./bin/console lint:yaml [options] [--] [&lt;filename&gt;]</usage>
        <usage>./bin/console &lt;kernel&gt; lint:yaml [options] [--] [&lt;filename&gt;]</usage>
      </usages>
      <description>Lints a file and outputs encountered errors</description>
      <help>The &lt;info&gt;lint:yaml&lt;/info&gt; command lints a YAML file and outputs to STDOUT
 the first encountered syntax error.
 
 You can validates YAML contents passed from STDIN:
 
   &lt;info&gt;cat filename | ./bin/console lint:yaml&lt;/info&gt;
 
 You can also validate the syntax of a file:
 
   &lt;info&gt;./bin/console lint:yaml filename&lt;/info&gt;
 
 Or of a whole directory:
 
   &lt;info&gt;./bin/console lint:yaml dirname&lt;/info&gt;
   &lt;info&gt;./bin/console lint:yaml dirname --format=json&lt;/info&gt;
 
 Or find all files in a bundle:
 
   &lt;info&gt;./bin/console lint:yaml @AcmeDemoBundle&lt;/info&gt;</help>
      <arguments>
        <argument name="filename" is_required="0" is_array="0">
          <description>A file or a directory or STDIN</description>
          <defaults/>
        </argument>
      </arguments>
      <options>
        <option name="--format" shortcut="" accept_value="1" is_value_required="1" is_multiple="0">
          <description>The output format</description>
          <defaults>
            <default>txt</default>
          </defaults>
        </option>
        <option name="--parse-tags" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Parse custom tags</description>
        </option>
        <option name="--help" shortcut="-h" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Display this help message</description>
        </option>
        <option name="--quiet" shortcut="-q" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Do not output any message</description>
        </option>
        <option name="--verbose" shortcut="-v" shortcuts="-v|-vv|-vvv" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Increase the verbosity of messages: 1 for normal output, 2 for more verbose output and 3 for debug</description>
        </option>
        <option name="--version" shortcut="-V" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Display this application version</description>
        </option>
        <option name="--ansi" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Force ANSI output</description>
        </option>
        <option name="--no-ansi" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Disable ANSI output</description>
        </option>
        <option name="--no-interaction" shortcut="-n" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Do not ask any interactive question</description>
        </option>
        <option name="--env" shortcut="-e" accept_value="1" is_value_required="1" is_multiple="0">
          <description>The environment name</description>
          <defaults>
            <default>test</default>
          </defaults>
        </option>
        <option name="--no-debug" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Switches off debug mode</description>
        </option>
      </options>
    </command>
    <command id="multikernel:convert" name="multikernel:convert">
      <usages>
        <usage>./bin/console multikernel:convert [options]</usage>
      </usages>
      <description>Converts a project to a multikernel project</description>
      <help>The &lt;info&gt;multikernel:convert&lt;/info&gt; command changes the filesystem
 structure of a Symfony Standard Edition project to a multikernel project.
 
 The command is only available on a regular app kernel and is disabled
 after conversion.
 
 To convert your project to a multikernel project, run:
 
   &lt;info&gt;./bin/console multikernel:convert&lt;/info&gt;
 
 After converting the project filesystem structure, run:
 
   &lt;info&gt;composer dump-autoload&lt;/info&gt;
   &lt;info&gt;composer symfony-scripts&lt;/info&gt;</help>
      <arguments/>
      <options>
        <option name="--help" shortcut="-h" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Display this help message</description>
        </option>
        <option name="--quiet" shortcut="-q" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Do not output any message</description>
        </option>
        <option name="--verbose" shortcut="-v" shortcuts="-v|-vv|-vvv" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Increase the verbosity of messages: 1 for normal output, 2 for more verbose output and 3 for debug</description>
        </option>
        <option name="--version" shortcut="-V" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Display this application version</description>
        </option>
        <option name="--ansi" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Force ANSI output</description>
        </option>
        <option name="--no-ansi" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Disable ANSI output</description>
        </option>
        <option name="--no-interaction" shortcut="-n" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Do not ask any interactive question</description>
        </option>
        <option name="--env" shortcut="-e" accept_value="1" is_value_required="1" is_multiple="0">
          <description>The environment name</description>
          <defaults>
            <default>test</default>
          </defaults>
        </option>
        <option name="--no-debug" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Switches off debug mode</description>
        </option>
      </options>
    </command>
    <command id="router:match" name="router:match">
      <usages>
        <usage>./bin/console router:match [options] [--] &lt;path_info&gt;</usage>
        <usage>./bin/console &lt;kernel&gt; router:match [options] [--] &lt;path_info&gt;</usage>
      </usages>
      <description>Helps debug routes by simulating a path info match</description>
      <help>The &lt;info&gt;router:match&lt;/info&gt; shows which routes match a given request and which don't and for what reason:
 
   &lt;info&gt;./bin/console router:match /foo&lt;/info&gt;
 
 or
 
   &lt;info&gt;./bin/console router:match /foo --method POST --scheme https --host symfony.com --verbose&lt;/info&gt;</help>
      <arguments>
        <argument name="path_info" is_required="1" is_array="0">
          <description>A path info</description>
          <defaults/>
        </argument>
      </arguments>
      <options>
        <option name="--method" shortcut="" accept_value="1" is_value_required="1" is_multiple="0">
          <description>Sets the HTTP method</description>
          <defaults/>
        </option>
        <option name="--scheme" shortcut="" accept_value="1" is_value_required="1" is_multiple="0">
          <description>Sets the URI scheme (usually http or https)</description>
          <defaults/>
        </option>
        <option name="--host" shortcut="" accept_value="1" is_value_required="1" is_multiple="0">
          <description>Sets the URI host</description>
          <defaults/>
        </option>
        <option name="--help" shortcut="-h" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Display this help message</description>
        </option>
        <option name="--quiet" shortcut="-q" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Do not output any message</description>
        </option>
        <option name="--verbose" shortcut="-v" shortcuts="-v|-vv|-vvv" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Increase the verbosity of messages: 1 for normal output, 2 for more verbose output and 3 for debug</description>
        </option>
        <option name="--version" shortcut="-V" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Display this application version</description>
        </option>
        <option name="--ansi" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Force ANSI output</description>
        </option>
        <option name="--no-ansi" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Disable ANSI output</description>
        </option>
        <option name="--no-interaction" shortcut="-n" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Do not ask any interactive question</description>
        </option>
        <option name="--env" shortcut="-e" accept_value="1" is_value_required="1" is_multiple="0">
          <description>The environment name</description>
          <defaults>
            <default>test</default>
          </defaults>
        </option>
        <option name="--no-debug" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Switches off debug mode</description>
        </option>
      </options>
    </command>
    <command id="translation:update" name="translation:update">
      <usages>
        <usage>./bin/console translation:update [options] [--] &lt;locale&gt; [&lt;bundle&gt;]</usage>
        <usage>./bin/console &lt;kernel&gt; translation:update [options] [--] &lt;locale&gt; [&lt;bundle&gt;]</usage>
      </usages>
      <description>Updates the translation file</description>
      <help>The &lt;info&gt;translation:update&lt;/info&gt; command extracts translation strings from templates
 of a given bundle or the app folder. It can display them or merge the new ones into the translation files.
 
 When new translation strings are found it can automatically add a prefix to the translation
 message.
 
 Example running against a Bundle (AcmeBundle)
   &lt;info&gt;./bin/console translation:update --dump-messages en AcmeBundle&lt;/info&gt;
   &lt;info&gt;./bin/console translation:update --force --prefix="new_" fr AcmeBundle&lt;/info&gt;
 
 Example running against app messages (app/Resources folder)
   &lt;info&gt;./bin/console translation:update --dump-messages en&lt;/info&gt;
   &lt;info&gt;./bin/console translation:update --force --prefix="new_" fr&lt;/info&gt;</help>
      <arguments>
        <argument name="locale" is_required="1" is_array="0">
          <description>The locale</description>
          <defaults/>
        </argument>
        <argument name="bundle" is_required="0" is_array="0">
          <description>The bundle name or directory where to load the messages, defaults to app/Resources folder</description>
          <defaults/>
        </argument>
      </arguments>
      <options>
        <option name="--prefix" shortcut="" accept_value="1" is_value_required="0" is_multiple="0">
          <description>Override the default prefix</description>
          <defaults>
            <default>__</default>
          </defaults>
        </option>
        <option name="--no-prefix" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>If set, no prefix is added to the translations</description>
        </option>
        <option name="--output-format" shortcut="" accept_value="1" is_value_required="0" is_multiple="0">
          <description>Override the default output format</description>
          <defaults>
            <default>yml</default>
          </defaults>
        </option>
        <option name="--dump-messages" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Should the messages be dumped in the console</description>
        </option>
        <option name="--force" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Should the update be done</description>
        </option>
        <option name="--no-backup" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Should backup be disabled</description>
        </option>
        <option name="--clean" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Should clean not found messages</description>
        </option>
        <option name="--domain" shortcut="" accept_value="1" is_value_required="0" is_multiple="0">
          <description>Specify the domain to update</description>
          <defaults/>
        </option>
        <option name="--help" shortcut="-h" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Display this help message</description>
        </option>
        <option name="--quiet" shortcut="-q" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Do not output any message</description>
        </option>
        <option name="--verbose" shortcut="-v" shortcuts="-v|-vv|-vvv" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Increase the verbosity of messages: 1 for normal output, 2 for more verbose output and 3 for debug</description>
        </option>
        <option name="--version" shortcut="-V" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Display this application version</description>
        </option>
        <option name="--ansi" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Force ANSI output</description>
        </option>
        <option name="--no-ansi" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Disable ANSI output</description>
        </option>
        <option name="--no-interaction" shortcut="-n" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Do not ask any interactive question</description>
        </option>
        <option name="--env" shortcut="-e" accept_value="1" is_value_required="1" is_multiple="0">
          <description>The environment name</description>
          <defaults>
            <default>test</default>
          </defaults>
        </option>
        <option name="--no-debug" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Switches off debug mode</description>
        </option>
      </options>
    </command>
  </commands>
  <namespaces>
    <namespace id="_global">
      <command>about</command>
      <command>help</command>
      <command>list</command>
    </namespace>
    <namespace id="assets">
      <command>assets:install</command>
    </namespace>
    <namespace id="cache">
      <command>cache:clear</command>
      <command>cache:pool:clear</command>
      <command>cache:warmup</command>
    </namespace>
    <namespace id="config">
      <command>config:dump-reference</command>
    </namespace>
    <namespace id="debug">
      <command>debug:config</command>
      <command>debug:container</command>
      <command>debug:event-dispatcher</command>
      <command>debug:router</command>
      <command>debug:translation</command>
      <command>debug:twig</command>
    </namespace>
    <namespace id="generate">
      <command>generate:app</command>
    </namespace>
    <namespace id="lint">
      <command>lint:twig</command>
      <command>lint:xliff</command>
      <command>lint:yaml</command>
    </namespace>
    <namespace id="multikernel">
      <command>multikernel:convert</command>
    </namespace>
    <namespace id="router">
      <command>router:match</command>
    </namespace>
    <namespace id="translation">
      <command>translation:update</command>
    </namespace>
  </namespaces>
</symfony>
