<?xml version="1.0" encoding="UTF-8"?>
<symfony name="Motana Multi-Kernel App Console - Symfony" version="{{ kernel_version }}" kernel="boot">
  <kernels>
    <kernel>boot</kernel>
    <kernel>app</kernel>
  </kernels>
  <commands namespace="debug">
    <command id="debug:autowiring" name="debug:autowiring">
      <usages>
        <usage>./bin/console debug:autowiring [options] [--] [&lt;search&gt;]</usage>
        <usage>./bin/console &lt;kernel&gt; debug:autowiring [options] [--] [&lt;search&gt;]</usage>
      </usages>
      <description>Lists classes/interfaces you can use for autowiring</description>
      <help>The &lt;info&gt;debug:autowiring&lt;/info&gt; command displays all classes and interfaces that
 you can use as type-hints for autowiring:
 
   &lt;info&gt;./bin/console debug:autowiring&lt;/info&gt;
 
 You can also pass a search term to filter the list:
 
   &lt;info&gt;./bin/console debug:autowiring log&lt;/info&gt;</help>
      <arguments>
        <argument name="search" is_required="0" is_array="0">
          <description>A search filter</description>
          <defaults/>
        </argument>
      </arguments>
      <options>
        <option name="--help" shortcut="-h" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Display this help message</description>
        </option>
        <option name="--quiet" shortcut="-q" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Do not output any message</description>
        </option>
        <option name="--verbose" shortcut="-v" shortcuts="-v|-vv|-vvv" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Increase the verbosity of messages: 1 for normal output, 2 for more verbose output and 3 for debug</description>
        </option>
        <option name="--version" shortcut="-V" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Display this application version</description>
        </option>
        <option name="--ansi" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Force ANSI output</description>
        </option>
        <option name="--no-ansi" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Disable ANSI output</description>
        </option>
        <option name="--no-interaction" shortcut="-n" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Do not ask any interactive question</description>
        </option>
        <option name="--env" shortcut="-e" accept_value="1" is_value_required="1" is_multiple="0">
          <description>The environment name</description>
          <defaults>
            <default>test</default>
          </defaults>
        </option>
        <option name="--no-debug" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Switches off debug mode</description>
        </option>
      </options>
    </command>
    <command id="debug:config" name="debug:config">
      <usages>
        <usage>./bin/console debug:config [options] [--] [&lt;name&gt;] [&lt;path&gt;]</usage>
        <usage>./bin/console &lt;kernel&gt; debug:config [options] [--] [&lt;name&gt;] [&lt;path&gt;]</usage>
      </usages>
      <description>Dumps the current configuration for an extension</description>
      <help>The &lt;info&gt;debug:config&lt;/info&gt; command dumps the current configuration for an
 extension/bundle.
 
 Either the extension alias or bundle name can be used:
 
   &lt;info&gt;./bin/console debug:config framework&lt;/info&gt;
   &lt;info&gt;./bin/console debug:config FrameworkBundle&lt;/info&gt;
 
 For dumping a specific option, add its path as second argument:
 
   &lt;info&gt;./bin/console debug:config framework serializer.enabled&lt;/info&gt;</help>
      <arguments>
        <argument name="name" is_required="0" is_array="0">
          <description>The bundle name or the extension alias</description>
          <defaults/>
        </argument>
        <argument name="path" is_required="0" is_array="0">
          <description>The configuration option path</description>
          <defaults/>
        </argument>
      </arguments>
      <options>
        <option name="--help" shortcut="-h" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Display this help message</description>
        </option>
        <option name="--quiet" shortcut="-q" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Do not output any message</description>
        </option>
        <option name="--verbose" shortcut="-v" shortcuts="-v|-vv|-vvv" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Increase the verbosity of messages: 1 for normal output, 2 for more verbose output and 3 for debug</description>
        </option>
        <option name="--version" shortcut="-V" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Display this application version</description>
        </option>
        <option name="--ansi" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Force ANSI output</description>
        </option>
        <option name="--no-ansi" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Disable ANSI output</description>
        </option>
        <option name="--no-interaction" shortcut="-n" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Do not ask any interactive question</description>
        </option>
        <option name="--env" shortcut="-e" accept_value="1" is_value_required="1" is_multiple="0">
          <description>The environment name</description>
          <defaults>
            <default>test</default>
          </defaults>
        </option>
        <option name="--no-debug" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Switches off debug mode</description>
        </option>
      </options>
    </command>
    <command id="debug:container" name="debug:container">
      <usages>
        <usage>./bin/console debug:container [options] [--] [&lt;name&gt;]</usage>
        <usage>./bin/console &lt;kernel&gt; debug:container [options] [--] [&lt;name&gt;]</usage>
      </usages>
      <description>Displays current services for an application</description>
      <help>The &lt;info&gt;debug:container&lt;/info&gt; command displays all configured &lt;comment&gt;public&lt;/comment&gt; services:
 
   &lt;info&gt;./bin/console debug:container&lt;/info&gt;
 
 To get specific information about a service, specify its name:
 
   &lt;info&gt;./bin/console debug:container validator&lt;/info&gt;
 
 To see available types that can be used for autowiring, use the &lt;info&gt;--types&lt;/info&gt; flag:
 
   &lt;info&gt;./bin/console debug:container --types&lt;/info&gt;
 
 By default, private services are hidden. You can display all services by
 using the &lt;info&gt;--show-private&lt;/info&gt; flag:
 
   &lt;info&gt;./bin/console debug:container --show-private&lt;/info&gt;
 
 Use the --tags option to display tagged &lt;comment&gt;public&lt;/comment&gt; services grouped by tag:
 
   &lt;info&gt;./bin/console debug:container --tags&lt;/info&gt;
 
 Find all services with a specific tag by specifying the tag name with the &lt;info&gt;--tag&lt;/info&gt; option:
 
   &lt;info&gt;./bin/console debug:container --tag=form.type&lt;/info&gt;
 
 Use the &lt;info&gt;--parameters&lt;/info&gt; option to display all parameters:
 
   &lt;info&gt;./bin/console debug:container --parameters&lt;/info&gt;
 
 Display a specific parameter by specifying its name with the &lt;info&gt;--parameter&lt;/info&gt; option:
 
   &lt;info&gt;./bin/console debug:container --parameter=kernel.debug&lt;/info&gt;</help>
      <arguments>
        <argument name="name" is_required="0" is_array="0">
          <description>A service name (foo)</description>
          <defaults/>
        </argument>
      </arguments>
      <options>
        <option name="--show-private" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Used to show public *and* private services</description>
        </option>
        <option name="--show-arguments" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Used to show arguments in services</description>
        </option>
        <option name="--tag" shortcut="" accept_value="1" is_value_required="1" is_multiple="0">
          <description>Shows all services with a specific tag</description>
          <defaults/>
        </option>
        <option name="--tags" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Displays tagged services for an application</description>
        </option>
        <option name="--parameter" shortcut="" accept_value="1" is_value_required="1" is_multiple="0">
          <description>Displays a specific parameter for an application</description>
          <defaults/>
        </option>
        <option name="--parameters" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Displays parameters for an application</description>
        </option>
        <option name="--types" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Displays types (classes/interfaces) available in the container</description>
        </option>
        <option name="--format" shortcut="" accept_value="1" is_value_required="1" is_multiple="0">
          <description>The output format (txt, xml, json, or md)</description>
          <defaults>
            <default>txt</default>
          </defaults>
        </option>
        <option name="--raw" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>To output raw description</description>
        </option>
        <option name="--help" shortcut="-h" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Display this help message</description>
        </option>
        <option name="--quiet" shortcut="-q" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Do not output any message</description>
        </option>
        <option name="--verbose" shortcut="-v" shortcuts="-v|-vv|-vvv" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Increase the verbosity of messages: 1 for normal output, 2 for more verbose output and 3 for debug</description>
        </option>
        <option name="--version" shortcut="-V" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Display this application version</description>
        </option>
        <option name="--ansi" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Force ANSI output</description>
        </option>
        <option name="--no-ansi" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Disable ANSI output</description>
        </option>
        <option name="--no-interaction" shortcut="-n" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Do not ask any interactive question</description>
        </option>
        <option name="--env" shortcut="-e" accept_value="1" is_value_required="1" is_multiple="0">
          <description>The environment name</description>
          <defaults>
            <default>test</default>
          </defaults>
        </option>
        <option name="--no-debug" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Switches off debug mode</description>
        </option>
      </options>
    </command>
    <command id="debug:event-dispatcher" name="debug:event-dispatcher">
      <usages>
        <usage>./bin/console debug:event-dispatcher [options] [--] [&lt;event&gt;]</usage>
        <usage>./bin/console &lt;kernel&gt; debug:event-dispatcher [options] [--] [&lt;event&gt;]</usage>
      </usages>
      <description>Displays configured listeners for an application</description>
      <help>The &lt;info&gt;debug:event-dispatcher&lt;/info&gt; command displays all configured listeners:
 
   &lt;info&gt;./bin/console debug:event-dispatcher&lt;/info&gt;
 
 To get specific listeners for an event, specify its name:
 
   &lt;info&gt;./bin/console debug:event-dispatcher kernel.request&lt;/info&gt;</help>
      <arguments>
        <argument name="event" is_required="0" is_array="0">
          <description>An event name</description>
          <defaults/>
        </argument>
      </arguments>
      <options>
        <option name="--format" shortcut="" accept_value="1" is_value_required="1" is_multiple="0">
          <description>The output format  (txt, xml, json, or md)</description>
          <defaults>
            <default>txt</default>
          </defaults>
        </option>
        <option name="--raw" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>To output raw description</description>
        </option>
        <option name="--help" shortcut="-h" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Display this help message</description>
        </option>
        <option name="--quiet" shortcut="-q" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Do not output any message</description>
        </option>
        <option name="--verbose" shortcut="-v" shortcuts="-v|-vv|-vvv" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Increase the verbosity of messages: 1 for normal output, 2 for more verbose output and 3 for debug</description>
        </option>
        <option name="--version" shortcut="-V" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Display this application version</description>
        </option>
        <option name="--ansi" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Force ANSI output</description>
        </option>
        <option name="--no-ansi" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Disable ANSI output</description>
        </option>
        <option name="--no-interaction" shortcut="-n" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Do not ask any interactive question</description>
        </option>
        <option name="--env" shortcut="-e" accept_value="1" is_value_required="1" is_multiple="0">
          <description>The environment name</description>
          <defaults>
            <default>test</default>
          </defaults>
        </option>
        <option name="--no-debug" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Switches off debug mode</description>
        </option>
      </options>
    </command>
    <command id="debug:router" name="debug:router">
      <usages>
        <usage>./bin/console debug:router [options] [--] [&lt;name&gt;]</usage>
        <usage>./bin/console &lt;kernel&gt; debug:router [options] [--] [&lt;name&gt;]</usage>
      </usages>
      <description>Displays current routes for an application</description>
      <help>The &lt;info&gt;debug:router&lt;/info&gt; displays the configured routes:
 
   &lt;info&gt;./bin/console debug:router&lt;/info&gt;</help>
      <arguments>
        <argument name="name" is_required="0" is_array="0">
          <description>A route name</description>
          <defaults/>
        </argument>
      </arguments>
      <options>
        <option name="--show-controllers" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Show assigned controllers in overview</description>
        </option>
        <option name="--format" shortcut="" accept_value="1" is_value_required="1" is_multiple="0">
          <description>The output format (txt, xml, json, or md)</description>
          <defaults>
            <default>txt</default>
          </defaults>
        </option>
        <option name="--raw" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>To output raw route(s)</description>
        </option>
        <option name="--help" shortcut="-h" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Display this help message</description>
        </option>
        <option name="--quiet" shortcut="-q" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Do not output any message</description>
        </option>
        <option name="--verbose" shortcut="-v" shortcuts="-v|-vv|-vvv" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Increase the verbosity of messages: 1 for normal output, 2 for more verbose output and 3 for debug</description>
        </option>
        <option name="--version" shortcut="-V" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Display this application version</description>
        </option>
        <option name="--ansi" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Force ANSI output</description>
        </option>
        <option name="--no-ansi" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Disable ANSI output</description>
        </option>
        <option name="--no-interaction" shortcut="-n" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Do not ask any interactive question</description>
        </option>
        <option name="--env" shortcut="-e" accept_value="1" is_value_required="1" is_multiple="0">
          <description>The environment name</description>
          <defaults>
            <default>test</default>
          </defaults>
        </option>
        <option name="--no-debug" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Switches off debug mode</description>
        </option>
      </options>
    </command>
    <command id="debug:twig" name="debug:twig">
      <usages>
        <usage>./bin/console debug:twig [options] [--] [&lt;filter&gt;]</usage>
        <usage>./bin/console &lt;kernel&gt; debug:twig [options] [--] [&lt;filter&gt;]</usage>
      </usages>
      <description>Shows a list of twig functions, filters, globals and tests</description>
      <help>The &lt;info&gt;debug:twig&lt;/info&gt; command outputs a list of twig functions,
 filters, globals and tests. Output can be filtered with an optional argument.
 
   &lt;info&gt;./bin/console debug:twig&lt;/info&gt;
 
 The command lists all functions, filters, etc.
 
   &lt;info&gt;./bin/console debug:twig date&lt;/info&gt;
 
 The command lists everything that contains the word date.
 
   &lt;info&gt;./bin/console debug:twig --format=json&lt;/info&gt;
 
 The command lists everything in a machine readable json format.</help>
      <arguments>
        <argument name="filter" is_required="0" is_array="0">
          <description>Show details for all entries matching this filter</description>
          <defaults/>
        </argument>
      </arguments>
      <options>
        <option name="--format" shortcut="" accept_value="1" is_value_required="1" is_multiple="0">
          <description>The output format (text or json)</description>
          <defaults>
            <default>text</default>
          </defaults>
        </option>
        <option name="--help" shortcut="-h" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Display this help message</description>
        </option>
        <option name="--quiet" shortcut="-q" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Do not output any message</description>
        </option>
        <option name="--verbose" shortcut="-v" shortcuts="-v|-vv|-vvv" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Increase the verbosity of messages: 1 for normal output, 2 for more verbose output and 3 for debug</description>
        </option>
        <option name="--version" shortcut="-V" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Display this application version</description>
        </option>
        <option name="--ansi" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Force ANSI output</description>
        </option>
        <option name="--no-ansi" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Disable ANSI output</description>
        </option>
        <option name="--no-interaction" shortcut="-n" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Do not ask any interactive question</description>
        </option>
        <option name="--env" shortcut="-e" accept_value="1" is_value_required="1" is_multiple="0">
          <description>The environment name</description>
          <defaults>
            <default>test</default>
          </defaults>
        </option>
        <option name="--no-debug" shortcut="" accept_value="0" is_value_required="0" is_multiple="0">
          <description>Switches off debug mode</description>
        </option>
      </options>
    </command>
  </commands>
</symfony>
